.Rproj.user
.Rhistory
.RData
.Ruserdata
_data/
_scripts/
.DS_Store
_csl/
# Ignore template artifacts (3+ months old)
notebooks/fig1-preview.html
notebooks/lm-preview.html
notebooks/lm.embed.ipynb
notebooks/lm.out.ipynb
notebooks/tables-preview.html
notebooks/tables.embed.ipynb
notebooks/tables.out.ipynb
site_libs/
index.out.ipynb
index.embed.ipynb
.nojekyll
index-preview.html
notebooks/.DS_Store
